<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos Online</title>
    <link rel="stylesheet" href="styles/base/base.css">
    <link rel="stylesheet" href="styles/components/main.css">
    <link rel="stylesheet" href="styles/components/cart-div.css">
    <link rel="stylesheet" href="styles/components/header.css">
    <link rel="stylesheet" href="styles/components/footer.css">
    <link rel="stylesheet" href="styles/components/responsive.css">
</head>
<body>